#menu img{
	display: block;
	margin:40px auto 0px auto;
}
#menu p{
	color:#2ba6cb;
	text-transform:uppercase;
	margin-top: 10px;
	text-align: center;

}
#menu ul{
	list-style: none;
}
#menu ul li:hover{
	cursor: pointer;
	cursor: hand;
}

#table {
	border-right: 1px dashed #333;
}
#table ul{
	list-style: none;
	margin:0;
}
#table li{
	width:40%;
	height:100%;
	background: #f2f2f2;
	border:1px solid #e2e2e2;
	color:#2ba6cb;
	margin-top: 20px;
	float:left;
	text-align: center;
	padding: 15px;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	cursor:pointer;
}
#table li:hover{
	background:#e6e6e6;
}
#table li.active{
	background:#333;
	color:#fff;
}
#details h2 span{
	display:inline-block;
	padding:15px;
	text-align: center;
	height:50px;
	width:50px;
	background:#333;
	color:#fff;
}
#details h2{
	text-align: center;
}

#details ul{
	list-style: none;
	background-color: #f2f2f2;
	border:1px solid #e6e6e6;
	padding:10px 20px;
}
#details li{
	padding:10px 0px;
	border-top: 2px dotted #e6e6e6;
}
#details li:first-child{
	border-top: none;
}
#details h3{
	font-weight: 300;
	position:relative;
}

#details h3 .icon-remove {
position: absolute;
left: 75%;
top: 32%;
cursor:pointer;
}

#details #total{
	border-top: 4px solid #333;
}
#details #total h3{
	font-weight: bold;
}
#details h3 span{
	float:right;
}

.table-no{
	font-size:50px;
}